services:
    bastien59960.adminhelper.listener:
        class: bastien59960\adminhelper\event\listener
        arguments:
            - '@dbal.conn'
            - '@request'
            - '@template'
            - '@language'
        tags:
            - { name: event.listener }
